<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8">
    <title><%= pkgName %></title>
  </head>
  <body>
    <h2><%= pkgName %>&nbsp;<%= pkgVersion %>&nbsp;(<%= env %>)</h2>
    <p><%= pkgDescription %></p>
    <div id="app_root" />
    <script type="text/javascript" src="/app.bundle.js"></script>
  </body>
</html>